Imgs/
Pdf/

**/*.pdf
**/*.PDF

.DS_Store
**/*.DS_Store

**/__pycache__
IPython/*.png
IPython/*.jpg


Latex Stuff/*.aux
Latex Stuff/*.bbl
Latex Stuff/*.blg
Latex Stuff/*.log
Latex Stuff/*.out
Latex Stuff/*.gz
Latex Stuff/*.pdf
